@page
@model MobilityPoliticsSeries.Pages.Publisheds.gender_temporary_work_and_migration_managementModel

@{
    ViewData["Title"] = "gender_temporary_work_and_migration_management";
}



    <div>
        
        
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
