@page
@model MobilityPoliticsSeries.Pages.Abouts.CreateModel

@{
    ViewData["Title"] = "Create";
}

    <div class="text-center">
        <h1 class="display-4">About The Series</h1>
        <p>
            <br>
            “Human mobility, whatever its scale, is often controversial. Hence it carries with it the potential for politics. A core feature of mobility politics is the tension between the desire to maximize the social and economic benefits of migration, and the pressures to restrict movement. Transnational communities, global instability, advances in transportation and communication, and concepts of ‘smart borders’ and ‘migration management’ are just a few of the phenomena transforming the landscape of migration today. The tension between openness and restriction raises important questions about how different types of policies and politics come to life and influence mobility.”
            <br><br>
            Mobility & Politics invites original, theoretically, and empirically informed studies for academic and policy-oriented debates. Authors examine issues such as refugees and displacement, migration and citizenship, security and cross-border movements, (post-)colonialism and mobility, and transnational movements and cosmopolitics.
            <br><br>
            If you are interested in contributing to the series, we invite submissions in the range of 20,000 to 50,000 words.
        </p>

        <button type="button" onclick="location.href='@Url.Content("~/pdf/mobility-and-politics.pdf")'">Click here for more information about the series</button>
        <button type="button" onclick="location.href='@Url.Content("~/worddocs/2017_mpp-proposal-form.docx")'">Click here to download a proposal form</button>

        <p>
            <br>
            To contact the series editors, you can write to martin.geiger@carleton.ca
            <br><br>
            Our series is published by Palgrave Macmillan in their unique “Pivot” format. Learn more about this format
            <a href='@Url.Content("~/pdf/palgrave_pivot.pdf")'>here </a>.

        </p>

        <h4>Series Editors</h4>

        <p>
            Martin Geiger (Carleton University, Ottawa, Canada),
            Parvati Raghuram (Open University, Milton Keynes, UK)
            and William Walters (Carleton University, Ottawa, Canada).
        </p>

        <h4>Global Advisory Board</h4>

        <p>
            Michael Collyer, University of Sussex, Brighton (UK); Susan B. Coutin, University of California, Irvine (US); Raúl Delgado Wise, Universidad Autónoma de Zacatecas, Zacatecas (MEX); Nicholas De Genova, King’s College, London (UK); Eleonore Kofman, Middlessex University, London (UK); Rey Koslowski, University of Albany, State University of New York (US); Loren B. Landau, University of the Witwatersrand, Johannesburg (ZA); Sandro Mezzadra, Università di Bologna, Bologna (IT); Alison Mountz, Wilfrid Laurier University, Waterloo (CAN); Brett Neilson, University of Western Sydney, Sydney (AUS); Antoine Pécoud, Université Paris 13, Villetaneuse (F); Ranabir Samaddar, Mahanirban Calcutta Research Group, Calcutta (IN); Nandita Sharma, University of Hawai’i at Manoa, Honolulu (US); Tesfaye Tafesse, Addis Ababa University, Addis Ababa (ET); Thanh-Dam Truong, Erasmus University, Rotterdam (NL).
        </p>




    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
