@page
@model MobilityPoliticsSeries.Pages.Authors.AuthorsModel

@{
    ViewData["Title"] = "Authors";
}

<h1 class="display-4">MEET OUR AUTHORS</h1>

<h4>DJEMILA ZENEIDI</h4>
<p>In Gender, Temporary Work and Migration Management, Djemila Zeneidi delves into migration management via an original case study of a guest worker programme involving the circular migration to Spain of female Moroccan agricultural workers destined for the strawberry agri-food industry in the south. To ensure that they do return to Morocco, mothers of young children are first earmarked and then selected on the basis of their poor, rural origins and the supposed “delicacy of their hands”. This book analyses the mechanisms through which migration and workforces are controlled, while also addressing the paradoxical experience of these female seasonal workers, at the intersection of domination and emancipation.</p>

<h4>CARLOS SANDOVAL-GARCÍA</h4>
<p>“Exclusion and forced migration in Central America. No more walls.” explores dispossession processes that drive thousands of Central Americans to leave their countries and walk through Mexico, seeking to reach the United States. Its main thesis is that, on the one hand, there are exclusion processes, produced especially by neoliberal policies, which have expelled thousands of people from their countries. On the other hand, securitization policies close borders using a variety of means, which include law enforcement legislation, externalization of borders, among others. In such a context, migrants experience a sort of trap: they are forced to emigrate but, at the same time, they are impeded to immigrate. The presence of organized crime, which is often colluded with the Mexican authorities, becomes this trap even more complex. What the consequences of these contradictions could be is, without doubt, a huge question. Also a documentary film, “Home in a Foreign Land” based on the Spanish version of the book was produced. https://es-la.facebook.com/casaentierrajena/ </p>

<h4>FEDERICA INFANTINO</h4>
<p>This book explores the everyday practices of border control and implementation of mobility policy in the European Schengen area by analyzing consular visas services on the edges of the territory. Using an original case study, private contractors that implement EU visa policy on governments’ behalf, the author focuses on visa application centers located in Morocco and run by the two major contractors of European Member States, the transnational corporations VFSGlobal and TLSContact. The analysis builds on ethnographic research that encompasses the making of EU visa policy at the European, national and local levels. It aims at uncovering the reasons that have led to the adoption of outsourcing as a normal and legitimized mode to implement EU visa policy and the effects of that choice. </p>

<h4>PAOLO BOCCAGNI</h4>
<p>“Home is usually perceived as what placidly lies in the background of everyday life. Migrants’ experience tells a different story. What happens to home, once someone moves far away from its “natural” bases and searches for new ones under often marginalized living conditions? And what does transnational migration say of the changing views, feelings and practices of home, even among “sedentary” people? How (if at all) a sense of home relies on a dwelling place, on an intimate relationship, on memories of the past or on aspirations for the future – and what difference this makes in practice – are the questions underlying the migration-home nexus as an emerging research field. From an apparently intimate and domestic concern, home, or the search for it, turns into a major public question. It raises claims, conflicts and dilemmas which should not go unnoticed. An original map of migrants’ ways of homing, over space and time, is then necessary.”</p>

<h4>GLENDA GARELLI AND MARTINA TAZZIOLI</h4>
<p>Tunisia as a Revolutionised space of Migration investigates post-revolutionary Tunisia looking at the spatial transformations that occurred in the country in relation to practices of migration and forced mobility. The book looks at Tunisia as a space crisscrossed by complex and heterogeneous migratory movements, from war escapees fleeing Libya and Syria, to Tunisian migrants in Europe who return home, undocumented European migrants in Tunis, and Tunisians citizens moving to the Gulf States. Building upon ethnographic engagement with these different groups, and with the spaces where their mobility is controlled, invisibilized, or blocked, the book unpacks the migration-precarity nexus, bringing attention to processes of “migrantization” spurred by the economic crisis in Tunisia and in Europe and migration management processes. The book enlists a counter-mapping approach in the investigation of spaces of mobility: looking at intra-African mobilities, North-South migrations, and migratory movement to the Gulf States, the book challenges the Euro-centric methodological nationalism that prioritizes the study of South-to-North movements and migration flows into Europe. The book is the outcome of our engagement with the Tunisian landscape of migration, stemming from our 2011-15 fieldwork and our involvement with the struggle of refugees at Choucha camp.”</p>

<h4>AIJA LULLE & RUSSELL KING</h4>
<p>Our book challenges the prevailing view of older migrants as vulnerable and in need of care and support. The older Latvian migrants interviewed for this book tell their stories of economic salvation, personal empowerment and the family care that the they give, rather than receive, through their migration for work in Britain.” </p>

<h4>SUVENDRINI PERERA</h4>
<p>“The war in Lanka may seem remote and marginal to some, but the three decades of its duration initiate, intersect and parallel many central characteristics of the global present: the hardening of borders against refugees, the proliferation of diasporic subjectivities, the ever-escalating exchanges of terror between states and their militarised opponents. My book tracks these ramifications and contiguities across various sites and geographies.”</p>

<h4>JENNIFER BAGELMAN</h4>
<p>“Sanctuary City provides a timely and critical contribution to the study of hospitality and asylum.  Exploring how the ancient practice of sanctuary is today being taken up as an international, city-based solidarity movement, Sanctuary City reveals how the urban might play a key role in responding to the growing refugee crisis."</p>

<h4>LIZ MONTEGARY</h4>
<p>“”Mobile Desires”… asks what becomes methodologically possible when mobilities researchers and mobility justice advocates grapple with feminist and queer theories of affect and embodiment.“</p>

<h4>MELISSA AUTUMN WHITE</h4>
<p>Dr Melissa Autumn White is broadly concerned with the relationships between sexuality, gender, race, affect, mobility, and the transnational histories and geographies of contemporary regimes of governance, Professor White’s research is situated in the field of queer migration studies.</p>

<h4>TANYA BASOK</h4>
<p>Dr Tanya Basok is particularly interested in how the notions of citizenship rights and human rights have been articulated and negotiated by grassroots and international organizations to advance the rights of migrants.</p>

<h4>DANIÈLE BÉLANGER</h4>
<p>Dr Danièle Bélanger hopes to produce research that will inform international development policy and promote gender equality.</p>

<h4>MARTHA LUZ ROJAS WIESNER</h4>
<p>Dr Martha Luz Rojas Wiesner is a member of the Academic Group for Gender Studies and an associate of the Academic Study Group on Migration and Border Process. She focuses her studies on international female migration, with emphasis on migration from Central America to Mexico.</p>

<h4>GUILLERMO CANDIZ</h4>
<p>Guillermo Candiz is a PhD. candidate in Geography at the Université Laval in Québec City. He completed a transnational project on temporary migrant workers in agriculture with fieldwork in Mexico and in Quebec. His doctoral research examines undocumented transit migration from Central America to North America and from Sub-Saharan Africa to Europe, with a focus on Mexico and Morocco</p>
    
<h4>VICKI SQUIRE</h4>
<p>Vicki Square studies the political implications of different practices of governing mobility, as well as the transformative potential of diverse struggles through which such practices are contested, resisted and/or subverted.</p>

<h4>ANTOINE PÉCOUD</h4>
<p>Dr Antoine Pécoud is Professor of sociology at the University of Paris 13. Between 2003 and 2012, he worked as an international civil servant for UNESCO’s program on international migration. He holds a B.A. from the University of Lausanne (Switzerland) and a Ph.D. in social and cultural anthropology from the University of Oxford (UK).</p>
    
<h4> DIMITRIS PARSANOGLOU</h4>
<p>Dimitrios Parsanoglou is Research Fellow at Panteion University of Social and Political Sciences, Greece. His research interests include the history and sociology of immigration to Greece. He has worked with several institutions in European and NGOs on national projects about migration, gender and employment issues.</p>

<h4>NICOS TRIMIKLINIOTIS</h4>
<p>Dr. Nicos Trimikliniotis is Associate Professor at the University of Nicosia, Cyprus, and Senior Expert heading the Cyprus team on fundamental rights for the EU Fundamental Rights Agency.</p>
   
<h4>VASSILIS TSIANOS</h4>
<p>Vassilis Tsianos is Research Fellow at the University of Hamburg, Germany, where he teaches theoretical sociology and migration studies. His work examines social theory, citizenship racism, migration, borders, urban space, commons and precarity.</p>

<h4>CHRIS RUMFORD</h4>
<p>Chris Rumford is a professor at Royal Holloway University of London, following a period as Assistant Professor at Istanbul Kultur University, and Visiting Fellow, City University, London. Chris has held a variety of positions including Senior Researcher at the Economic Development Foundation in Istanbul (IKV), and British Studies Consultant at the British Council.</p>
    <div>
        <a asp-page="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
