@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>
            Mobility & Politics invites original, theoretically and empirically informed studies for academic and policy-oriented debates.
            Authors examine topics such as refugees and displacement, migration and citizenship, security and cross-border movements,
            (post-)colonialism and mobility, and transnational movements and cosmopolitics. Mobility & Politics is published by <a href="https://link.springer.com/search?facet-content-type=%22Book%22"> Palgrave Macmillan </a> and jointly edited by Martin Geiger, Parvati Raghuram and William Walters.
        </p>
        <p>
            A <a asp-page="GlobalAdvisoryBoard/GlobalAdvisoryBoard"> global advisory board</a> of renowned scholars advises and assists the series.
        </p>
</div>
