@page
@model MobilityPoliticsSeries.Pages.Editors.Martin_GeigerModel

@{
    ViewData["Title"] = "Martin_Geiger";
}

    <h1 class="display-4">MEET THE EDITORS: MARTIN GEIGER</h1>

    <p>
         Martin Geiger is an Assistant Professor of “Politics of Human Migration and Mobility” at <a href="https://carleton.ca/polisci/people/geiger-martin/"> Carleton University </a>.

        His research, teaching and writings focus on migration and mobility from an interdisciplinary perspective. Primary concerns are the multitude of state and non-state actors involved in governing cross-border mobility today, the various modes and ‘tools’ that have been invented to ‘manage’ flows of people, and the real-life effects these interventions have on persons crossing borders, societies and political systems.

        Martin’s publications in English include <a href="https://www.palgrave.com/gp/?sf1=barcode&st1=9780230272583"> ‘The Politics of International Migration Management’</a>,<a href="https://www.routledge.com/International-Organisations-and-the-Politics-of-Migration-1st-Edition/Geiger-Pecoud/p/book/9781138860100"> ‘International Organizations and the Politics of Migration’</a>, <a href="https://books.google.de/books?id=6cLQAQAAQBAJ&pg=PA15&lpg=PA15&dq=The+Transformation+of+Migration+Politics:+From+Migration+Control+to+Disciplining+Mobility&source=bl&ots=t-FyQCkQhd&sig=V1jhPFW9kTKmsqeRAscFRzIBK7o&hl=de&sa=X&ved=0ahUKEwj13PeahqnJAhWBdT4KHXwhB4kQ6AEIODAB#v=onepage&q=The%20Transformation%20of%20Migration%20Politics%3A%20From%20Migration%20Control%20to%20Disciplining%20Mobility&f=false">  ‘The Transformation of Migration Politics: From Migration Control to Disciplining Mobility’</a> and <a href="https://link.springer.com/chapter/10.1007%2F978-94-007-6745-4_14"> ‘The Production of a Safe Neighbourhood and the Disciplining of International Mobility’ </a>.

        He has held visiting scholar appointments at different universities and research centres in Europe and North America. He is also the founding editor of <a href="https://link.springer.com/search?facet-content-type=%22Book%22"> ‘Mobility & Politics’ </a>, a board member of <a href="https://www.nature.com/palcomms/"> ‘Palgrave Communications’ </a> and a former faculty member and now honorary member of the distinguished German <a href="https://www.imis.uni-osnabrueck.de/startseite.html"> Institute for Migration Research and Intercultural Studies (IMIS) </a> at Osnabrück University.
    </p>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
