@page
@model MobilityPoliticsSeries.Pages.Editors.Parvati_RaghuramModel

@{
    ViewData["Title"] = "Parvati_Raghuram";
}

    <h1 class="display-4">MEET THE EDITORS: PARVATI RAGHURAM</h1>

    <p>Parvati Raghuram is a <a href="http://fass.open.ac.uk/?name=Parvati_Raghuram"> Reader in Human Geography </a> at the Faculty of Social Sciences at The Open University.  She gained her first two degrees in Delhi University in India and her PhD at The University of Newcastle-upon-Tyne. Her research interests focus on the ways in which the mobility of individuals, goods and of ideas is reshaping the world. Her most recent ESRC funded project was on the experiences of South Asian geriatricians in the UK. She has co-authored <a href="https://uk.sagepub.com/en-gb/eur/the-practice-of-cultural-studies/book207977"> The Practice of Cultural Studies (Sage), </a> <a href="https://www.routledge.com/Gender-and-International-Migration-in-Europe-Employment-Welfare-and-Politics/Kofman-Phizacklea-Raghuram-Sales/p/book/9780415167307"> Gender and International Migration in Europe (Routledge),</a> co-edited <a href="https://www.bloomsbury.com/uk/south-asian-women-in-the-diaspora-9781859736968/"> South Asian women in the Diaspora (Berg),</a> and <a href="https://us.sagepub.com/en-us/nam/tracing-an-indian-diaspora/book233253"> Tracing Indian diaspora: Contexts, Memories, Representations (Sage) </a> and has written research papers for a number of think-tanks such as IPPR, UNRISD, the Hamburg Institute of International Economics and Heinrich Böll Stiftung. She also has edited a special issue of the journal Diversities for UNESCO.</p>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
