@page
@model MobilityPoliticsSeries.Pages.Editors.William_WaltersModel

@{
    ViewData["Title"] = "William_Walters";
}

<h1 class="display-4">MEET THE EDITORS: WILLIAM WALTERS</h1>

<p><a href="http://williamwalters.net/"> William Walters </a> is a <a href="https://carleton.ca/polisci/people/walters-william/"> Professor of Politics </a> in the Departments of Political Science and Sociology & Anthropology at Carleton University, Ottawa. Originally trained in chemistry at Imperial College, London, he did his graduate work in political science, gaining an MA from the Graduate School of CUNY in New York and a PhD from York University, Toronto. He has published widely in such areas as political sociology, political geography, citizenship studies and Foucault studies where his focus has been the interface between politics and key objectifications of human experience such as unemployment, immigration and, most recently, secrecy. He has authored <a href="https://www.cambridge.org/us/academic/subjects/sociology/political-sociology/unemployment-and-government-genealogies-social"> Unemployment and Government (CUP 2000),</a>  and <a href="https://www.routledge.com/Governmentality-Critical-Encounters-1st-Edition/Walters/p/book/9780415779548"> Governmentality (Routledge 2012), </a> <a href="https://www.routledge.com/Governing-Europe-Discourse-Governmentality-and-European-Integration/Walters-Henrik-Haahr/p/book/9780415429665"> co-authored Governing Europe (Routledge 2005), </a> and <a href="https://www.routledge.com/Global-Governmentality-Governing-International-Spaces-1st-Edition/Larner-Walters/p/book/9780415406802"> co-edited Global Governmentality (2004) </a>. He is currently engaged in a collaborative project that approaches questions of migration and politics from the angle of vehicles and transportation regimes.</p>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
