@page
@model MobilityPoliticsSeries.Pages.GlobalAdvisoryBoard.GlobalAdvisoryBoardModel
@{
    ViewData["Title"] = "GlobalAdvisoryBoard";
}

    <div class="text-center">
        <h1 class="display-4">Global Advisory Board</h1>

        <p>
            <a href="https://faculty.sites.uci.edu/scoutin/"> Susan B. Coutin </a> , University of California, Irvine (US)
            <br>
            <a href="https://nicholasdegenova.net/"> Nicholas De Genova</a> , King’s College, London (UK)
            <br>
            <a href="https://www.mdx.ac.uk/about-us/our-people/staff-directory/profile/kofman-eleonore"> Eleonore Kofman</a> , Middlessex University, London (UK)
            <br>
            <a href="https://www.albany.edu/rockefeller/faculty_pos_koslowski.shtml"> Rey Koslowski</a> , University of Albany, State University of New York (US)
            <br>
            <a href="https://www.unibo.it/sitoweb/sandro.mezzadra"> Sandro Mezzadra</a> , Università di Bologna, Bologna (IT)
            <br>
            <a href="https://www.wlu.ca/academics/faculties/faculty-of-arts/faculty-profiles/alison-mountz/index.html?ref=faculty-profiles%2Farts%2Falison-mountz.html"> Alison Mountz</a> , Wilfrid Laurier University, Waterloo (CAN)
            <br>
            <a href="https://www.westernsydney.edu.au/ics/people/researchers/brett_neilson"> Brett Neilson</a> , University of Western Sydney, Sydney (AUS)
            <br>
            <a href="http://univ-paris13.academia.edu/AntoineP%C3%A9coud"> Antoine Pécoud</a> , Université Paris 13, Villetaneuse (F)
            <br>
            <a href="http://www.mcrg.ac.in/di.asp"> Ranabir Samaddar</a> , Mahanirban Calcutta Research Group, Calcutta (IN)
            <br>
            <a href="http://nanditasharma.net/"> Nandita Sharma</a>, University of Hawai’i at Manoa, Honolulu (US)
            <br>
            <a href="http://www.aau.edu.et/css/tesfaye-tafesse/"> Tesfaye Tafesse</a>, Addis Ababa University, Addis Ababa (ET)
        </p>
    </div>